---
Language: Cpp
ColumnLimit: 80
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
BreakBeforeBraces: GNU
BreakBeforeTernaryOperators: true
IncludeBlocks: Regroup
InsertNewlineAtEOF: true